<!-- Base File which should be used by all templating files in order to conform to a 
standardized look and feel of the application -->

<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{#insert title}Default Title{/}</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/ownstyle.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>
<body class="container">
	<header class="header">
		<div class="container">
			<div class="card-header" style="margin-bottom: 0">
				<h1>MVZ</h1>
				<p>Wir kümmern uns um Ihre Gesundheit.</p>
			</div>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">Menu</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="/">Home<span
								class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link"
							href="/html/patient/list/active">List</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/html/patient/del">Delete</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/html/patient/add">Add</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/html/patient/list/all">Log</a></li>
						<li class="nav-item"><a class="nav-link" href="/swagger-ui">API</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-primary" type="submit">Search</button>
					</form>
				</div>
			</nav>
		</div>
	</header>

	<main>
		<div class="container">
			<div class="row" style="margin-top: 30px">
				<div class="col-sm">
					<div class="article">{#insert body}No body available!{/}</div>
				</div>
			</div>
		</div>
	</main>
	
	<footer class="footer">
		<div class="container">
			<p>
				© 2020 Medizinisches Versorgungszentrum - <a class="link"
					href="#">Impressum und Datenschutz</a>
			</p>
		</div>
	</footer>

</body>
</html>




