 {#include base.html} 
 {#title}{patListData.title}{/title} 
 {#body}
 <h1>Waiting Room</h1>

	<p>Data is provided by the Server {patListData.server}</p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Waiting No</th>
				<th scope="col">Patient ID</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Gender</th>
				<th scope="col">Date of Birth</th>
				<th scope="col">Status</th>
				<th scope="col">Waiting Start</th>
				<th scope="col">Waiting End</th>
				<th scope="col">Waiting Time</th>
			</tr>
		</thead>
		<tbody id="people">
			{#for patient in patListData.data}
			<tr>
				<th scope="row">{patient.waitNo}</th>
				<td>{patient.patId}</td>
				<td>{patient.firstName}</td>
				<td>{patient.lastName}</td>
				<td>{patient.gender}</td>
				<td>{patient.birth}</td>
				<td>{patient.status}</td>
				<td>{patient.waitingStart}</td>
				<td>{patient.waitingEnd}</td>
				<td>{patient.waitingTime}</td>
			{/for}
		</tbody>
	</table>
	
	<p>Date: {patListData.now} </p>
 <p>Average Actual Waiting Time: {patListData.averageWaitingTime}</p>

{/body} 
{/include}









